.sidebar {
    height: 100%;
    /* width: 160px; */
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0; */
    background-color: #333;
    /* overflow-x: hidden; */
    padding-top: 16px;
    border-radius: 3px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
 .search-container {
    margin: 3px;
  }
  
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 2px;
    margin-left: 14px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
  }
  
   .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
  }
  
.search-container button:hover {
    background: #ccc;
  }